<template>
  <div class="layout">
    <Layout>
      <Header class="head">
        <Select
          v-model="model7"
          style="width:200px;text-align:left;"
          id="sel"
          filterable
          on-change="getText"
        >
          <Option value="all">全部</Option>
          <Option v-for="item in areaList" :value="item.id" :key="item.name">{{ item.name }}</Option>
        </Select>
        <!-- <Button class="btn" @click="downloadQrcode">
          <a :href="codePathZip" download target='blank'>下载全部二维码</a>
        </Button> -->
         <Button  class="btn" @click="exportData"><Icon type="ios-download-outline"></Icon> 导出自定义数据</Button>
        <Button type="primary" id="Btn-add" @click="modal1 = true">+新增会议室</Button>
        <Modal v-model="modal1" title="新增会议室" footer-hide draggable>
          <div>
            <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="100">
              <FormItem label="会议室名称" prop="room_name">
                <Input v-model="formValidate.room_name" placeholder="请输入"></Input>
              </FormItem>
              <FormItem label="办公楼地点" prop="area_name">
                <Select v-model="formValidate.area_name" style="width:200px">
                  <Option
                    v-for="item in areaList"
                    :value="item.name"
                    :key="item.name"
                  >{{ item.name }}</Option>
                </Select>
              </FormItem>
              <FormItem label="容纳人数" prop="capacity">
                <Input v-model="formValidate.capacity" placeholder="请输入"></Input>
              </FormItem>
              <FormItem label="可用设备" prop="interest">
                <CheckboxGroup v-model="formValidate.interest">
                  <Checkbox v-for="item in devicelist" :label="item.id" :key="item.id">{{item.name}}</Checkbox>
                </CheckboxGroup>
              </FormItem>
              <FormItem>
                <Button
                  type="primary"
                  @click="handleSubmit('formValidate')"
                  style="font-size:18px"
                >增添会议室</Button>
                <Button
                  @click="handleReset('formValidate')"
                  style="margin-left: 8px;font-size:18px"
                >清空信息</Button>
              </FormItem>
            </Form>
          </div>
        </Modal>
      </Header>
      <Content class="con">
        <Table border :columns="columns7" :data="nowData" ref="table">
          <template slot-scope="{ row, index }" slot="miniMap">
            <div style="display:flex;flex-direact:column">
              <Upload :action="'http://admin.oaloft.com/api/v1/web/areas/rooms/setminimap?rId='+nowData[index].room_id" :show-upload-list='false' :format="['jpg','jpeg','png']" :on-format-error="fileTypeError" :on-success="fileSuccess">
                <Button type="primary" icon="ios-cloud-upload-outline">导图上传</Button>
              </Upload>
              <Button style="margin-left:10px" @click="showMiniMap(index)">查看导图</Button>
            </div>
          </template>
        </Table>
        <Page
          :total="dataCount"
          show-total
          :current="pageCurrent"
          style="margin-left:500px"
          :page-Size="pageSize"
          @on-change="changePage"
          @on-page-size-change="_nowPageSize"
        />
        <Modal title="Title" v-model="model9" :styles="{top: '20px'}" footer-hide>
          <Form
            ref="formValidate2"
            :model="formValidate2"
            :rules="ruleValidate2"
            :label-width="100"
          >
            <FormItem label="会议室名称" prop="room_name">
              <Input v-model="formValidate2.room_name" placeholder="请输入"></Input>
            </FormItem>
            <FormItem label="办公楼地点" prop="area_name">
              <Select v-model="formValidate2.area_name" style="width:200px">
                <Option v-for="item in areaList" :value="item.name" :key="item.name">{{ item.name }}</Option>
              </Select>
            </FormItem>
            <FormItem label="容纳人数" prop="capacity">
              <Input v-model="formValidate2.capacity" placeholder="请输入"></Input>
            </FormItem>
            <FormItem label="可用设备" prop="interest">
              <CheckboxGroup v-model="formValidate2.interest">
                <Checkbox v-for="item in devicelist" :label="item.id" :key="item.id">{{item.name}}</Checkbox>
              </CheckboxGroup>
            </FormItem>
            <FormItem label="会议室状态">
              <RadioGroup v-model="formValidate2.disabled">
                <Radio label="开放"></Radio>
                <Radio label="关闭"></Radio>
              </RadioGroup>
            </FormItem>
            <Form-item>
              <i-button
                type="primary"
                style="margin-left:75px"
                @click="ChangeRoomInfo('formValidate2')"
              >确定修改信息</i-button>
            </Form-item>
          </Form>
        </Modal>
        <Modal v-model="model2" id="aacas" footer-hide style="text-align:center" :closable="false">
          <img :src="codePath" alt style="width:400px;" />
          <!-- <qrcode-vue :value="codeUrl"
          size="300"></qrcode-vue>-->
        </Modal>
      </Content>
    </Layout>
  </div>
</template>
<script>
import expandRow from './table-expand.vue'

import { mapActions, mapMutations } from 'vuex'
import {
  getAreaRoom,
  addArealistRooms,
  delRoom,
  changeRoomInfo,
  getDevice,
  getAllRoom
} from '@/api/index'

import meetingCode from '_c/code/meetingCode'
import QrcodeVue from 'qrcode.vue'
import minCode from '@/assets/code.jpg'
export default {
  components: { expandRow, meetingCode, QrcodeVue },
  data () {
    return {
      url: 'http://admin.oaloft.com/#/meeting/new?roomId=',
      codePath: '',
      // codePathZip: 'http://admin.oaloft.com/api/v1/web/areas/qrcode',
      codeUrl: '',
      code: '',
      model2: false,
      devicelist: [],
      state: '',
      model9: false,
      nowData: [],
      dataCount: 1,
      pageSize: 10,
      pageCurrent: 1,
      roomTitle: '',
      columns7: [
        {
          align: 'center',
          title: '会议室',
          key: 'room_name',
          render: (h, params) => {
            return h('div', [
              h('Icon', {
                props: {
                  type: 'person'
                }
              }),
              h('strong', params.row.room_name)
            ])
          }
        },
        {
          align: 'center',
          title: '容量',
          key: 'capacity'
        },
        {
          align: 'center',
          title: '设备',
          key: 'device'
        },
        {
          align: 'center',
          title: '状态',
          key: 'disabled'
        },
        {
          title: '修改',
          key: 'action',
          width: 150,
          align: 'center',
          render: (h, params) => {
            return h('div', [
              h(
                'Button',
                {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.model9 = true
                      let arr = this.nowData[params.index].device.split(',')
                      for (let indexarr in arr) {
                        for (let indexdevice in this.devicelist) {
                          if (
                            arr[indexarr] === this.devicelist[indexdevice].name
                          ) {
                            arr[indexarr] = this.devicelist[indexdevice].id
                          }
                        }
                      }
                      this.formValidate2.room_name = this.nowData[params.index].room_name
                      this.formValidate2.area_name = this.areaList[this.model7 - 1].name
                      this.formValidate2.capacity = this.nowData[params.index].capacity
                      this.formValidate2.interest = arr
                      this.formValidate2.room_id = this.nowData[params.index].room_id
                      this.formValidate2.disabled = this.nowData[params.index].disabled
                    }
                  }
                },
                '修改状态'
              ),
              h(
                'Button',
                {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  on: {
                    click: () => {
                      this.confirm(params.index)
                    }
                  }
                },
                '删除'
              )
            ])
          }
        },
        {
          align: 'center',
          title: '会议室导图',
          slot: 'miniMap'
        }

      ],
      data6: [],
      areaList: [],
      cityList2: [],
      model7: '',
      modal1: false,
      formValidate: {
        room_name: '',
        area_name: '',
        capacity: '',
        interest: []
      },
      formValidate2: {
        room_name: '',
        area_name: '',
        capacity: '',
        interest: [],
        room_id: ''
      },
      ruleValidate: {
        room_name: [
          { required: true, message: '会议室名称不能为空', trigger: 'blur' }
        ],
        area_name: [
          { required: true, message: '信息不能有空', trigger: 'blur' }
        ],

        capacity: [
          { required: true, message: '容纳人数不能空', trigger: 'blur' }
        ],
        interest: [
          {
            required: false,
            type: 'array',
            min: 1,
            message: '最少有一个设备',
            trigger: 'change'
          },
          {
            type: 'array',
            message: 'Choose two hobbies at best',
            trigger: 'change'
          }
        ],
        time2: [
          {
            required: true,
            type: 'string',
            message: '时间不能为空',
            trigger: 'change'
          }
        ],
        time1: [
          {
            required: true,
            type: 'string',
            message: '时间不能为空',
            trigger: 'change'
          }
        ]
      },
      ruleValidate2: {
        room_name: [
          { required: true, message: '会议室名称不能为空', trigger: 'blur' }
        ],
        area_name: [
          { required: true, message: '办公楼地点不能为空', trigger: 'blur' }
        ],
        interest: [
          {
            required: false,
            type: 'array',
            min: 1,
            message: '最少有一个设备',
            trigger: 'change'
          },
          {
            type: 'array',
            message: 'Choose two hobbies at best',
            trigger: 'change'
          }
        ],
        time2: [
          {
            required: true,
            type: 'string',
            message: '时间不能为空',
            trigger: 'change'
          }
        ],
        time1: [
          {
            required: true,
            type: 'string',
            message: '时间不能为空',
            trigger: 'change'
          }
        ]
      },

      content: ''
    }
  },
  computed: {
    ...mapActions({
      getAreaList: 'ActionGetAreaList'
    }),
    codePathZip () {
      const baseUrl = process.env.NODE_ENV === 'production' ? 'http://admin.oaloft.com' : 'http://localhost:5000'
      const qrcodeUrl = baseUrl + '/api/v1/web/areas/qrcode'
      return qrcodeUrl
    }
  },
  created () {
    this.initAreaList()
    this.initDeviceList()
  },
  methods: {
    exportData () {
      getAreaRoom({ roomId: 'all' }).then(resp => {
        const excelHeader = [
          {
            title: '会议室名称',
            key: 'name'
          },
          {
            title: '二维码链接',
            key: 'qrcode'
          }
        ]
        const excelData = [

        ]
        resp.data.data.Rooms.forEach(item => {
          excelData.push({
            name: item.room_name,
            qrcode: 'http://admin.oaloft.com/#/meeting/select?roomId=' + item.room_id
          })
        })
        this.$refs.table.exportCsv({
          filename: '自定义数据',
          columns: excelHeader,
          data: excelData
        })
      })
    },
    ...mapMutations({
      SET_AREA_LIST: 'SET_AREA_LIST'
    }),
    showMiniMap (index) {
      this.codePath = 'http://admin.oaloft.com/api/v1/web/areas/rooms/getminimap?rId=' + this.nowData[index].room_id
      this.model2 = true
    },
    fileTypeError (file) {
      this.$Message.error('格式错误,请上传照片')
    },
    fileSuccess (response) {
      if (response.status === 200) {
        this.$Message.success('上传成功')
      }
    },
    getRooms (index) {
      getAreaRoom({ roomId: this.model7 }).then(resp => {
        if (resp.status === 200) {
          this.data6 = resp.data.data.Rooms
          this.dataCount = this.data6.length
          this.changePage(1)
          if (this.areaList[this.model7 - 1]) {
            this.formValidate.area_name = this.areaList[this.model7 - 1].name
          }
        }
      })
    },
    initAreaList () {
      // 初始化区域列表
      // store没有数据，从本地缓存中尝试获取formValidate2
      this.getAreaList.then(resp => {
        this.SET_AREA_LIST(resp.data.areaList)
        this.areaList = resp.data.areaList
        this.model7 = 'all'
      })
    },
    remove (index) {
      this.data6.splice(index, 1)
    },
    showRooms () {},
    handleSubmit (name) {
      this.$refs[name].validate(valid => {
        if (valid) {
          addArealistRooms(this.formValidate).then(resp => {
            if (resp.status === 200) {
              if (resp.data.errmsg === '会议室名称重复') {
                return this.$Message.error('会议室名称重复')
              }
              this.getRooms(this.model7)
              this.initAreaList()
              this.$Message.success('新建成功!')
              this.pageCurrent = 1
              this.modal1 = false
            }
          })
        } else {
          this.$Message.error('信息未按照格式')
        }
      })
    },
    handleReset (name) {
      this.$refs[name].resetFields()
    },
    reload () {
      this.isRouterAlive = false
      this.$nextTick(function () {
        this.isRouterAlive = true
      })
    },
    changePage (index) {
      // 显示开始的数据的index

      let _start = (index - 1) * this.pageSize
      let _end = index * this.pageSize
      this.nowData = this.data6.slice(_start, _end)
      for (let i of this.nowData) {
        i.src = '@/assets/code.jpg'
      }
      this.pageCurrent = index
    },
    _nowPageSize (index) {
      this.pageSize = index
    },
    deletRoom (index) {
      delRoom(this.nowData[index]).then(resp => {
        if (resp.status === 200) {
          this.getRooms(1)
          this.pageCurrent = 1
          this.$Message.success('删除成功')
        }
      })
    },
    ChangeRoomInfo (name) {
      this.$refs[name].validate(valid => {
        if (valid) {
          changeRoomInfo(this.formValidate2).then(resp => {
            if (resp.status === 200) {
              this.getRooms(1)
            }
          })
          this.$Message.success('修改成功!')
          this.model9 = false
        } else {
          this.$Message.error('Fail!')
        }
      })
    },
    confirm (index) {
      this.$Modal.confirm({
        title: '提醒',
        content:
          '<h3 style="color: red;text-align:center;margin-right:70px">您确定删除该会议室吗</h1>',
        onOk: () => {
          this.deletRoom(index)
        },
        onCancel: () => {
          this.$Message.info('取消操作')
        }
      })
    },
    initDeviceList () {
      getDevice().then(resp => {
        if (resp.data.status === 200) {
          this.devicelist = resp.data.data.device
        }
      })
    }
  },
  watch: {
    model7 (val) {
      this.getRooms(val)
    }
  }
}
</script>

<style>
.head {
  text-align: right;
  background-color: #f5f7f9;
}
#btn-add {
  float: right;
}
.btn {
  margin-right: 30px;
}
#sel {
  margin-top: 10px;
  float: left;
  text-align: right;
}
.ivu-modal-confirm-body {
  margin-top: 20px;
}
.ivu-modal-confirm-footer {
  margin-top: 50px;
}
.ivu-modal-confirm-footer button:nth-child(1) {
  float: right;
  background-color: #d0cdcd;
  margin-right: 120px;
}
.ivu-modal-confirm-footer button:nth-child(2) {
  float: left;
  margin-left: 80px;
}
.ivu-modal-body {
  height: 100%;
}
.ivu-modal-body::after {
  content: "";
  display: block;
  clear: both;
}
#aacas .ivu-modal-content {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  box-shadow: none;
}
</style>
