<template>
  <div class="layout">
    <Layout>
      <Header style=" background-color: #f5f7f9;">
        <div>
          <h1 style="display:inline">区域管理</h1>
          <area-modal v-on:listenTochildEvent="getArea"
                      id="addBtn"></area-modal>
        </div>
      </Header>
      <Content>
        <area-table :data6="areaInfo"
                    v-on:reflash="getArea"></area-table>
      </Content>
    </Layout>
  </div>
</template>

<script>
import areaTable from '_c/tables/areaTable.vue'
import { getArealistAdmin } from '@/api/index'
import areaModal from '_c/modal/areaModal'
import store from '@/store'
export default {
  data () {
    return {
      areaInfo: []
    }
  },
  components: {
    areaTable,
    areaModal
  },
  created () {
    this.getArea()
  },
  mounted () {
    this.jugRoolName()
  },
  methods: {
    getArea () {
      getArealistAdmin().then(resp => {
        if (resp.status === 200) {
          this.areaInfo = resp.data.data.areaList
        }
      })
    },
    jugRoolName () {
      if (store.state.user.roleName === 'AREAADMIN') {
        document.getElementById('addBtn').style.display = 'none'
      } else {
        document.getElementById('addBtn').style.display = ''
      }
    }

  }
}
</script>

<style>
</style>
