<template>
  <div class="layout">
    <Layout>
      <Header style="background-color:#F5F7F9">
        <h1>设备管理</h1>
        <Button type="primary"
                style="float:right;margin-top:-50px"
                @click="model1=true">增加设备</Button>
      </Header>
      <Content>
        <div>
          <Table border
                 :columns="columns7"
                 :data="data6"></Table>
          <Modal v-model="model1"
                 title="增加设备"
                 footer-hide>
            <Form :model="formItem"
                  :label-width="80">
              <FormItem label="新设备名称">
                <Input v-model="formItem.name"
                       placeholder="请输入"></input>
              </FormItem>
              <FormItem>
                <Button type="primary"
                        style="margin-left:100px;"
                        @click="ToaddDevice">确定添加</Button>
              </FormItem>
            </Form>
          </Modal>
          <Modal v-model="model2"
                 title="修改设备名称"
                 footer-hide>
            <Form :model="formItem"
                  :label-width="80">
              <FormItem label="设备名称">
                <Input v-model="formItem2.name"
                       placeholder="请输入"></input>
              </FormItem>
              <FormItem>
                <Button type="primary"
                        style="margin-left:100px;"
                        @click="changeDN">确定修改</Button>
              </FormItem>
            </Form>
          </Modal>
        </div>
      </Content>
    </Layout>
  </div>
</template>
<script>
import { getDevice, addDevice, delDevice, changeDeviceName } from '@/api/index'

export default {
  created () {
    this.initDevice()
  },
  data () {
    return {
      model1: false,
      model2: false,
      indexNub: 0,
      formItem: {
        'name': ''
      },
      formItem2: {
        'name': '',
        'id': ''
      },
      columns7: [
        {
          title: '设备id',
          key: 'id',
          render: (h, params) => {
            return h('div', [
              h('Icon', {
                props: {
                  type: 'person'
                }
              }),
              h('strong', params.index + 1)
            ])
          }
        },
        {
          title: '设备名称',
          key: 'name'
        },
        {
          title: '操作',
          key: 'action',
          width: 150,
          align: 'center',
          render: (h, params) => {
            return h('div', [
              h('Button', {
                props: {
                  type: 'primary',
                  size: 'small'
                },
                style: {
                  marginRight: '5px'
                },
                on: {
                  click: () => {
                    this.model2 = true
                    this.formItem2.id = this.data6[params.index].id
                    this.formItem2.name = this.data6[params.index].name
                  }
                }
              }, '修改'),
              h('Button', {
                props: {
                  type: 'error',
                  size: 'small'
                },
                on: {
                  click: () => {
                    delDevice(this.data6[params.index]).then(resp => {
                      if (resp.data.status === 200) {
                        this.$Message.success('删除成功')
                        this.initDevice()
                      } else {
                        this.$Message.error('删除失败')
                      }
                    })
                  }
                }
              }, '删除')
            ])
          }
        }
      ],
      data6: [{
        'id': '',
        'name': ''
      }]
    }
  },
  methods: {
    show (index) {
      this.$Modal.info({
        title: 'User Info',
        content: `Name：${this.data6[index].name}<br>Age：${this.data6[index].age}<br>Address：${this.data6[index].address}`
      })
    },
    remove (index) {
      this.data6.splice(index, 1)
    },
    initDevice () {
      getDevice().then(resp => {
        if (resp.status === 200) {
          this.data6 = resp.data.data.device
        }
      })
    },
    ToaddDevice () {
      addDevice(this.formItem).then(resp => {
        if (resp.data.status === 200) {
          this.$Message.success('增加成功')
          this.model1 = false
          this.initDevice()
        } else {
          this.$Message.error(resp.data.errmsg)
        }
      })
    },
    changeDN () {
      changeDeviceName(this.formItem2).then(resp => {
        if (resp.data.status === 200) {
          this.$Message.success('修改成功')
          this.initDevice()
          this.model2 = false
        } else {
          this.$$Message.error('修改失败')
        }
      })
    }
  }
}
</script>
