<template>
  <div>
    <Layout>
      <Header style="background-color:#F3F5F7">
        <h1>人员管理</h1>
        <form-modal modal_title="sss"
                    style="float:right"
                    @updataUserlist="initUserList"></form-modal>
      </Header>
      <Content>
        <user-table :columns7="columns"
                    :data6="data"></user-table>
        <div>
          <Modal v-model="modal2"
                 title="修改员工信息"
                 footer-hide>
            <Form ref="formValidate"
                  :model="nowdata"
                  :rules="ruleValidate"
                  :label-width="80">
              <FormItem label="姓名"
                        prop="name">
                <Input v-model="nowdata.name"
                       placeholder="请输入员工姓名"></Input>
              </FormItem>
              <FormItem label="编号"
                        prop="usercode">
                <Input v-model="nowdata.usercode"
                       placeholder="请输入员工编号"></Input>
              </FormItem>
              <FormItem label="账号"
                        prop="username">
                <Input v-model="nowdata.username"
                       placeholder="请输入员工账号"></Input>
              </FormItem>
              <FormItem label="邮箱"
                        prop="email">
                <Input v-model="nowdata.email"
                       placeholder="请输入员工邮箱"></Input>
              </FormItem>
              <FormItem>
                <Button type="primary"
                        @click="changeUserInfo('nowdata')"
                        style="margin-left: 100px; width:100px">提交修改</Button>
              </FormItem>
            </Form>
          </Modal>
        </div>
      </Content>

    </Layout>
  </div>
</template>

<script>
import userTable from '_c/tables/userTable'
import formModal from '_c/modal/formModal'
import { getUserInfo, ChangeUserInfo, DelUserInfo } from '@/api/index'

export default {
  created () {
    this.initUserList()
  },
  components: {
    userTable,
    formModal
  },
  data () {
    return {
      modal2: false,
      columns: [
        {
          title: '员工名称',
          key: 'name',
          render: (h, params) => {
            return h('div', [
              h('Icon', {
                props: {
                  type: 'person'
                }
              }),
              h('strong', params.row.name)
            ])
          }
        },
        {
          title: '员工编号',
          key: 'usercode'
        },
        {
          title: '员工账号',
          key: 'username'
        },
        {
          title: '邮箱地址',
          key: 'email'
        },
        {
          title: '修改',
          key: 'action',
          width: 150,
          align: 'center',
          render: (h, params) => {
            return h('div', [
              h('Button', {
                props: {
                  type: 'primary',
                  size: 'small'
                },
                style: {
                  marginRight: '5px'
                },
                on: {
                  click: () => {
                    this.modal2 = true
                    this.nowdata = this.data[params.index]
                  }
                }
              }, '修改'),
              h('Button', {
                props: {
                  type: 'error',
                  size: 'small'
                },
                on: {
                  click: () => {
                    DelUserInfo(this.data[params.index]).then(resp => {
                      if (resp.data.status === 200) {
                        this.$Message.success('删除成功')
                        this.initUserList()
                      }
                    })
                  }
                }
              }, '删除')
            ])
          }
        }
      ],
      data: [
      ],
      nowdata: {
        'name': '',
        'usercode': '',
        'email': '',
        'username': '',
        'id': ''
      },
      ruleValidate: {
        username: [
          { required: true, message: '员工账号不能为空', trigger: 'blur' }
        ],
        email: [
          { required: true, message: '邮箱不能为空', trigger: 'blur' },
          { type: 'email', message: '请输入正确的邮箱', trigger: 'blur' }
        ],
        name: [
          { required: true, message: '员工姓名不能为空', trigger: 'blur' }
        ],
        usercode: [
          { required: true, message: '员工编号不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    show (index) {
      this.modal1 = true
    },
    remove (index) {
      this.data.splice(index, 1)
    },
    initUserList () {
      getUserInfo().then(resp => {
        if (resp.data.status === 200) {
          this.data = resp.data.data.userInfo
        }
      })
    },
    changeUserInfo () {
      ChangeUserInfo(this.nowdata).then(resp => {
        if (resp.data.status === 200) {
          this.$Message.success('修改成功')
          this.initUserList()
        }
      })
    }
  }
}
</script>

<style>
</style>
