<template>
  <div>
    <Layout>
      <Header style="background-color:#F3F5F7">
        <h1>
          权限管理
          <Button type="warning"
                  style="float:right;margin-top:16px;"
                  :loading="loading"
                  @click="toLoading">
            <span v-if="!loading">同步信息</span>
            <span v-else>同步中</span>
          </Button>
        </h1>
      </Header>
      <Content style="text-align:center;">
        <user-table :columns7="columns"
                    :data6="pageData"></user-table>
        <Page :total="dataLong"
              show-elevator
              :page-size="pageSize"
              @on-change="changePage"
              :current="pageCurrent" />
        <div>
          <Modal v-model="modal2"
                 title="修改权限"
                 footer-hide
                 on-cancel="reflash">
            <Form ref="formValidate"
                  :model="nowdata"
                  :label-width="80">
              <FormItem label="权限选择：">
                <RadioGroup v-model="nowdata.role"
                            vertical>
                  <Radio v-for="item in roleInfo"
                         :label="item.name"
                         :key="item.name">
                    <span>{{item.display_name}}</span>
                  </Radio>
                  <Select v-model="nowdata.area_id"
                          :style="seStyle"
                          id="sel"
                          filterable
                          on-change="getText">
                    <Option v-for="item in areaList"
                            :value="item.id"
                            :key="item.name"
                            style="text-align:left;">{{ item.name }}</Option>
                  </Select>
                </RadioGroup>
              </FormItem>
              <FormItem>
                <Button type="primary"
                        @click="changeUserInfo('nowdata')"
                        style="margin-left: 100px; width:100px">提交修改</Button>
              </FormItem>
            </Form>
          </Modal>
          <confir :modalConfir="modalConfir"
                  :modal_loading="modal_loading"
                  @callModal1="callModalConFir"
                  @del="DelUserInfo"></confir>
        </div>
      </Content>
    </Layout>
  </div>
</template>

<script>
import confir from '_c/modal/Comfir'
import userTable from '_c/tables/userTable'
import formModal from '_c/modal/formModal'
import {
  getUserInfo,
  ChangeUserInfo,
  DelUserInfo,
  getRole,
  syncUpdate
} from '@/api/index'
import { mapActions, mapMutations } from 'vuex'
export default {
  created () {
    this.initAreaList()
    this.initUserList()
    this.initRole()
  },
  components: {
    userTable,
    formModal,
    confir
  },
  computed: {
    ...mapActions({
      getAreaList: 'ActionGetAreaList'
    })
  },
  data () {
    return {
      pageData: [],
      dataLong: 50,
      pageSize: 20,
      pageCurrent: 1,
      loading: false,
      seStyle: {
        display: 'none',
        width: '200px'
      },
      roleInfo: [],
      selectData: '',
      modalConfir: false,
      modal_loading: false,
      model7: '',
      areaList: [],
      modal2: false,
      columns: [
        {
          title: '员工名称',
          key: 'name',
          render: (h, params) => {
            return h('div', [
              h('Icon', {
                props: {
                  type: 'person'
                }
              }),
              h('strong', params.row.name)
            ])
          }
        },
        {
          title: '身份 ',
          key: 'role_display_name'
        },
        {
          title: '修改',
          key: 'action',
          width: 150,
          align: 'center',
          render: (h, params) => {
            return h('div', [
              h(
                'Button',
                {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.modal2 = true
                      this.nowdata = this.data[params.index]
                    }
                  }
                },
                '修改'
              )
              // h('Button', {
              //   props: {
              //     type: 'error',
              //     size: 'small'
              //   },
              //   on: {
              //     click: () => {
              //       this.modalConfir = true
              //       this.selectData = this.data[params.index]
              //     }
              //   }
              // }, '删除')
            ])
          }
        }
      ],
      data: [],

      nowdata: {
        name: '',
        usercode: '',
        email: '',
        username: '',
        id: '',
        role: '',
        area_id: this.modal7
      },
      ruleValidate: {
        username: [
          { required: true, message: '员工账号不能为空', trigger: 'blur' }
        ],
        email: [
          { required: true, message: '邮箱不能为空', trigger: 'blur' },
          { type: 'email', message: '请输入正确的邮箱', trigger: 'blur' }
        ],
        name: [
          { required: true, message: '员工姓名不能为空', trigger: 'blur' }
        ],
        usercode: [
          { required: true, message: '员工编号不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    initRole () {
      getRole().then(resp => {
        this.roleInfo = resp.data.data.role_info
      })
    },

    DelUserInfo () {
      DelUserInfo(this.selectData).then(resp => {
        if (resp.data.status === 200) {
          this.$Message.success('删除成功')
          this.initUserList()
        }
      })
    },
    callModalConFir (val) {
      this.modalConfir = val
    },
    ...mapMutations({
      SET_AREA_LIST: 'SET_AREA_LIST'
    }),
    initAreaList () {
      // 初始化区域列表
      // store没有数据，从本地缓存中尝试获取formValidate2
      this.getAreaList.then(resp => {
        this.SET_AREA_LIST(resp.data.areaList)
        this.areaList = resp.data.areaList
        this.nowdata.area_id = this.areaList[0].id
      })
    },
    show (index) {
      this.modal1 = true
    },
    remove (index) {
      this.data.splice(index, 1)
    },
    initUserList () {
      getUserInfo().then(resp => {
        if (resp.data.status === 200) {
          this.data = resp.data.data.userInfo
        }
      })
    },
    changeUserInfo () {
      ChangeUserInfo(this.nowdata).then(resp => {
        if (resp.data.status === 200) {
          this.$Message.success('修改成功')
          this.initUserList()
        }
      })
    },
    toLoading () {
      let self = this
      this.loading = true
      syncUpdate().then(resp => {
        if (resp.data.status === 200) {
        }
      })
      setTimeout(function () {
        self.loading = false
        self.initAreaList()
        self.initUserList()
        self.initRole()
      }, 5000)
    },
    changePage (index) {
      let _start = (index - 1) * this.pageSize
      let _end = index * this.pageSize
      this.pageData = this.data.slice(_start, _end)
    }
  },
  watch: {
    nowdata: {
      handler (val, oldval) {
        if (val.role === 'AREAADMIN') {
          this.seStyle.display = 'block'
        } else {
          this.seStyle.display = 'none'
        }
      },
      deep: true
    },
    modal2 (val, oldval) {
      if (!val) {
        this.initUserList()
      }
    },
    data (val, odlval) {
      this.changePage(1)
    }
  }
}
</script>

<style>
</style>
