<template>
  <div>
    <Table border
           :columns="columns7"
           :data="data6"
           width="150px"></Table>
    <Modal v-model="modal1"
           title="修改区域信息"
           footer-hide>
      <Form :label-width="80">
        <FormItem label="区域名称">
          <Input v-model="data1.name"
                 placeholder="Enter something..."></Input>
        </FormItem>
        <FormItem label="可用时段"
                  required>
          <Row>
            <Col span="11">
            <FormItem>
              <TimePicker placeholder="请选择"
                          v-model="data1.time1"
                          :steps="[1,60,60]"
                          format="HH点"></TimePicker>
            </FormItem>
            </Col>
            <Col span="2"
                 style="text-align: center">-</Col>
            <Col span="11">
            <FormItem>
              <TimePicker format="HH点"
                          placeholder="请选择"
                          v-model="data1.time2"
                          :steps="[1,60,60]"></TimePicker>
            </FormItem>
            </Col>
          </Row>
        </FormItem>
        <FormItem label="开放状态">
          <RadioGroup v-model="data1.state">
            <Radio label="开放">开放</Radio>
            <Radio label="关闭">关闭</Radio>
          </RadioGroup>
          <FormItem style="text-align:center;margin-left:-40px">
            <Button type="primary"
                    @click="cnAreaInfo">确定修改</Button>
          </FormItem>
        </FormItem>
      </Form>
    </Modal>
  </div>
</template>
<script>
import { changeAreaInfo } from '@/api/index'
export default {
  name: 'areaTable',
  props: ['data6'],
  mounted () {
  },
  data () {
    return {
      modal1: false,
      data1: {},
      columns7: [
        {
          title: '区域名称',
          key: 'name',
          render: (h, params) => {
            return h('div', [
              h('Icon', {
                props: {
                  type: 'person'
                }
              }),
              h('strong', params.row.name)
            ])
          }
        },
        {
          title: '区域id',
          key: 'id'
        },
        {
          title: '开放时间',
          key: 'allow_time'
        },
        {
          title: '开放状态',
          key: 'state'
        },
        {
          title: '操作',
          key: 'action',
          width: 150,
          align: 'center',
          render: (h, params) => {
            return h('div', [
              h('Button', {
                props: {
                  type: 'primary',
                  size: 'small'
                },
                style: {
                  marginRight: '5px'
                },
                on: {
                  click: () => {
                    this.modal1 = true
                    this.data1 = this.data6[params.index]
                    this.data6[params.index].index = params.index
                  }
                }
              }, '修改详情')
            ])
          }
        }
      ]
    }
  },
  methods: {
    show (index) {
      this.$Modal.info({
        title: 'User Info',
        content: `Name：${this.data6[index].name}<br>Age：${this.data6[index].id}<br>Address：${this.data6[index].state}`
      })
    },
    cnAreaInfo () {
      changeAreaInfo(this.data1).then(resp => {
        if (resp.status === 200) {
          this.$Message.success('修改成功!')
          this.$emit('reflash')
          this.modal1 = false
        }
      })
    }
  }
}
</script>
