<template>
    <Table border :columns="columns7" :data="data6"></Table>
</template>
<script>
export default {
  name: 'userTable',
  props: [
    'columns7',
    'data6'
  ],
  data () {
    return {
    }
  }
}
</script>
