<template>
<div>
      <canvas :id="id" @click="showCode(id)"></canvas>
      <Modal
        v-model="modal1"
        title="二维码"
        footer-hide
        style="text-align:center;width:500px;height:800px"
        >
        <canvas :id="cid" ></canvas>
        <input type="text" >
    </Modal>
</div>
</template>

<script>
import QRCode from 'qrcode'
export default {
  name: 'meetingCode',
  props: [
    'id'
  ],
  data () {
    return {
      msg: 'hello vue',
      codes: '',
      canvasid: 'canvas',
      modal1: false
    }
  },
  computed: {
    cid () {
      return 'bigcode' + this.id
    }
  },
  components: {
    QRCode: QRCode
  },
  methods: {
    useqrcode () {
      var canvas = document.getElementById(this.id)
      QRCode.toCanvas(canvas, 'https://blog.csdn.net/weixin_42890953/article/details/82776760', function (error) {
        if (error) console.error(error)
        console.log('QRCode  success!')
      })
    },
    showCode (id) {
      console.log(id)
      this.modal1 = true
      var canvas = document.getElementById(this.cid)
      console.log(canvas)
      QRCode.toCanvas(canvas, 'https://blog.csdn.net/weixin_42890953/article/details/82776760', { width: 350, height: 350 })
    }
  },
  mounted () {
    this.useqrcode()
  }
}
</script>

<style>
.ivu-modal-body{
    height: 400px;
}
</style>
