<template>
  <div style="display:inline;float:right;">
    <Button type="primary"
            @click="modal1 = true"
            :style="addBtnShow">添加区域</Button>
    <Modal v-model="
            modal1"
           title="添加区域"
           footer-hide>
      <Form :label-width="80"
            :rules="ruleValidate"
            :model="data1">
        <FormItem label="区域名称"
                  prop="name">
          <Input v-model="data1.name"
                 placeholder="请输入"></Input>
        </FormItem>
        <FormItem label="可用时段"
                  required>
          <Row>
            <Col span="11">
            <FormItem>
              <TimePicker format="HH点"
                          placeholder="请选择"
                          v-model="data1.time1"
                          :steps="[1,60,60]"></TimePicker>
            </FormItem>
            </Col>
            <Col span="2"
                 style="text-align: center">-</Col>
            <Col span="11">
            <FormItem>
              <TimePicker format="HH点"
                          placeholder="请选择"
                          v-model="data1.time2"
                          :steps="[1,60,60]"></TimePicker>
            </FormItem>
            </Col>
          </Row>
        </FormItem>
        <FormItem label="开放状态">
          <RadioGroup v-model="data1.state">
            <Radio label="开放">开放</Radio>
            <Radio label="关闭">关闭</Radio>
          </RadioGroup>
          <FormItem style="text-align:center;margin-left:-40px">
            <Button type="primary"
                    @click="aAreaInfo">确定添加</Button>
          </FormItem>
        </FormItem>
      </Form>
    </Modal>
  </div>
</template>

<script>
import { addAreaInfo } from '@/api/index'

export default {
  name: 'areaModal',
  data () {
    return {
      addBtnShow: { display: 'none' },
      modal1: false,
      data1: {
        name: '',
        time1: '',
        time2: '',
        state: '',
        index: 0
      },
      ruleValidate: {
        name: [
          { required: true, message: '区域名称不能为空', trigger: 'blur' }
        ],
        id: [
          { required: true, message: '信息不能有空', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    ok () {
      this.$Message.info('Clicked ok')
    },
    cancel () {
      this.$Message.info('Clicked cancel')
    },
    aAreaInfo () {
      addAreaInfo(this.data1).then(resp => {
        if (resp.data.status === 200) {
          this.$Message.success('OK')
          this.$emit('listenTochildEvent', this.index)
        } else {
          this.$Message.error('时间错误')
        }
      })
    }
  },
  created () {
    var allow = ['SUPERADMIN', 'ADMIN']
    if (allow.includes(this.$store.state.user.roleName)) {
      console.log(this.$store.state.user.roleName)
      this.addBtnShow = { display: '' }
    }
  }
}
</script>

<style>
</style>
