<template>
    <div>
    <Modal
        v-model="modal1"
        :title="modal_title"
       footer-hide
       >
       <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80">
        <FormItem label="姓名" prop="name">
            <Input v-model="formValidate.name" placeholder="请输入员工姓名"></Input>
        </FormItem>
        <FormItem label="编号" prop="usercode">
            <Input v-model="formValidate.usercode" placeholder="请输入员工编号"></Input>
        </FormItem>
        <FormItem label="账号" prop="username">
            <Input v-model="formValidate.username" placeholder="请输入员工账号"></Input>
        </FormItem>
        <FormItem label="邮箱" prop="email">
            <Input v-model="formValidate.email" placeholder="请输入员工邮箱"></Input>
        </FormItem>
        <FormItem>
            <Button type="primary" @click="handleSubmit('formValidate')" style="margin-left: 100px; width:100px">提交添加</Button>
            <Button @click="handleReset('formValidate')" style="float: right;">清空信息</Button>
        </FormItem>
    </Form>
    </Modal>
    </div>
</template>
<script>
export default {
  name: 'formModal',
  props: [
    'modal_title'
  ],
  data () {
    return {
      modal1: false,
      formValidate: {
        username: '',
        email: '',
        usercode: '',
        name: ''
      },
      ruleValidate: {
        username: [
          { required: true, message: '员工账号不能为空', trigger: 'blur' }
        ],
        email: [
          { required: true, message: '邮箱不能为空', trigger: 'blur' },
          { type: 'email', message: '请输入正确的邮箱', trigger: 'blur' }
        ],
        name: [
          { required: true, message: '员工姓名不能为空', trigger: 'blur' }
        ],
        usercode: [
          { required: true, message: '员工编号不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    handleSubmit (name) {
      this.$refs[name].validate((valid) => {
        if (valid) {
        } else {
          this.$Message.error('Fail!')
        }
      })
    },
    handleReset (name) {
      this.$refs[name].resetFields()
    }
  }
}
</script>
