<template>
 <div>
      <Modal
        v-model="modal"
        title="Common Modal dialog box title"
        footer-hide>
        <p>Content of dialog</p>
        <p>Content of dialog</p>
        <p>Content of dialog</p>
    </Modal>
 </div>
</template>

<script>
export default {
  name: 'codeModal',
  props: ['modal'],
  watch: {
    modal (val) {
      this.$emit('initmodal', this.modal)
    }
  }
}
</script>

<style>

</style>
