<template>
  <div>
    <Modal v-model="modal1"
           width="360">
      <p slot="header"
         style="color:#f60;text-align:center">
        <Icon type="ios-information-circle"></Icon>
        <span>请确认删除</span>
      </p>
      <div style="text-align:center">
        <p>删除以后该管理员以及员工的信息将被删除</p>
        <p>你确定要删除吗？</p>
      </div>
      <div slot="footer">
        <Button type="error"
                size="large"
                long
                :loading="modal2"
                @click="del">删除</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  name: 'confir',
  props: [
    'modalConfir'
  ],
  data () {
    return {
      modal1: false,
      modal2: false
    }
  },
  methods: {
    del () {
      this.modal2 = true
      setTimeout(() => {
        this.modal2 = false
        this.modal1 = false
        this.$emit('del')
      }, 1000)
    }
  },
  watch: {
    modalConfir (val, oldval) {
      this.modal1 = this.modalConfir
    },
    modal1 (val, oldval) {
      if (!val) {
        this.$emit('callModal1', val)
      }
    }
  }
}
</script>

<style>
</style>
