<template>
  <div>首页</div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  methods: {
    ...mapActions([
      'getUserRoleId'
    ])
  },
  created () {
    this.getUserRoleId()
  }
}
</script>

<style>
</style>
