<template>
             <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="100">
                <FormItem label="会议室名称" prop="room_name">
                    <Input v-model="formValidate.room_name" placeholder="请输入"></Input>
                </FormItem>
                <FormItem label="办公楼地点" prop="area_name">
                    <Input v-model="formValidate.area_name" placeholder="请输入" ></Input>
                </FormItem>
                 <FormItem label="容纳人数" prop="capacity">
                    <Input v-model="formValidate.capacity" placeholder="请输入"></Input>
                </FormItem>
                <FormItem label="可用时段" required>
                    <Row>
                        <Col span="11">
                            <FormItem prop="time1">
                                <TimePicker type="time" placeholder="请选择" v-model="formValidate.time1"></TimePicker>
                            </FormItem>
                        </Col>
                        <Col span="2" style="text-align: center">-</Col>
                        <Col span="11">
                            <FormItem prop="time2">
                                <TimePicker type="time" placeholder="请选择" v-model="formValidate.time2"></TimePicker>
                            </FormItem>
                        </Col>
                        </Row>
                    </FormItem>
                    <FormItem label="可用设备" prop="interest">
                            <CheckboxGroup v-model="formValidate.interest">
                            <Checkbox label="投影仪"></Checkbox>
                            <Checkbox label="白板"></Checkbox>
                            <Checkbox label="八爪鱼"></Checkbox>
                            <Checkbox label="电话"></Checkbox>
                            <Checkbox label="电视"></Checkbox>
                            <Checkbox label="激光笔"></Checkbox>
                            <Checkbox label="自定义"></Checkbox>
                            </CheckboxGroup>
                        </FormItem>
                        <FormItem>
                            <Button type="primary" @click="handleSubmit('formValidate')" style="font-size:18px">增添会议室</Button>
                            <Button @click="handleReset('formValidate')" style="margin-left: 8px;font-size:18px">清空信息</Button>
                            </FormItem>
            </Form>
</template>

<script>
export default {
  name: 'infofrom'

}
</script>

<style>

</style>
